[Unit]
Description=imlfw Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop dashotv/imlfw
ExecStartPre=-/usr/bin/docker rm dashotv/imlfw
ExecStartPre=/usr/bin/docker pull dashotv/imlfw
ExecStart=/usr/bin/docker run --rm --name %n \
    --add-host=host.docker.internal:host-gateway \
    -p 3000:3000 \
    dashotv/imlfw

[Install]
WantedBy=multi-user.target
